body{
    margin: 0;
    direction: rtl;
}
.fit-fat-app{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    font-size: 2em;
    width: 100%;
    height: 100%;
}
.fit-fat-app > .title{
    padding: 50px;
    width:100%;
    display: flex;
    justify-content: center;

}
.fit-fat-app > .title > span{
    font-size: 2em;
    font-style: oblique;
    font-family: empty-font, Aharoni, sans-serif;
}
.content{
    display: flex;
    flex-flow:row;
    align-content: space-between;
    justify-content: space-around;
    width: 100%;
}

.fat-dude{
    display: flex;
    align-items: flex-end;
    min-height: 500px;
    min-width: 250px;
}
.fat-dude > img{
    animation: resize;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
.list-group{
    width: 150px;
    text-overflow: ellipsis;
}

@font-face {
    font-family: empty-font;
    src: url("resources/THIS_FONT_IS_EMPTY1.ttf")
}
@keyframes resize {
    0%{height: 450px;width: 241px;}
    10%{height: 480px;width: 218px;}
    20%{height: 450px;width: 241px;}
    30%{height: 480px;width: 218px;}
    40%{height: 450px;width: 241px;}
    50%{height: 480px;width: 218px;}
    60%{height: 450px;width: 241px;}
    70%{height: 480px;width: 218px;}
    80%{height: 450px;width: 241px;}
    90%{height: 480px;width: 218px;}
    100%{height: 450px;width: 241px;}
}