body{
    margin: 0;
    direction: rtl;
}
.fit-fat-app{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    font-size: 2em;
    width: 100%;
    height: 100%;
}
.fit-fat-app > .title{
    padding: 50px;
    width:100%;
    display: flex;
    justify-content: center;

}
.fit-fat-app > .title > span{
    font-size: 2em;
    font-style: oblique;
    font-family: empty-font, Aharoni, sans-serif;
}
.content{
    display: flex;
    flex-flow:row;
    align-content: space-between;
    justify-content: space-around;
    width: 100%;
}

.fat-dude > .display{
    display: flex;
    align-items: flex-end;
    min-height: 600px;
    margin-right: -231px;
}
.fat-dude > .display > img{
    position: relative;
    bottom: 184px;
    right:350px;
    animation: resize;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.weight > .data{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 88px;
    right: 140px;
    width:200px;
}
.kg,.fat{
    direction: ltr;
    font-family: digital-font, Aharoni, sans-serif;

}
.weight .kg:after{
    content: "KG";
}
.weight .fat:after{
    content: "% FAT";
}

.list-group{
    width: 150px;
    text-overflow: ellipsis;
}

@font-face {
    font-family: empty-font;
    src: url("resources/THIS_FONT_IS_EMPTY1.ttf")
}
@font-face {
    font-family: digital-font;
    src: url("resources/alarm.ttf")
}
@keyframes resize {
    /*230 474*/
    0%{height: 465px;width: 235px;}
    50%{height: 474px;width: 230px;}
    100%{height: 465px;width: 235px;}
}